@model MindTheGap.Models.Gap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gapSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gapSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gapStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gapStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gapEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gapEndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GapID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
